<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>삭제 확인</title>
  <style>
    .confirmation {
      margin-top: 50px;
      text-align: center;
    }
    .confirmation h1 {
      margin-bottom: 20px;
    }
    .confirmation button {
      padding: 10px 20px;
      background-color: pink;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
    .confirmation button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
<div class="confirmation">
  <h1>게시물 삭제</h1>
  <p>게시물을 정말로 삭제하시겠습니까?</p>
  <form id="deleteForm" action="/delete/{bid}" method="post">
    <button type="submit">확인</button>
  </form>
  <button onclick="goBack()">취소</button>
</div>

<script>
  var bidValue = [[${bid}]];  // bid 값을 서버에서 동적으로 전달 받는 경우
  document.getElementById("deleteForm").action = "/delete/" + bidValue;
    function goBack() {
      history.back();
    }
  </script>
</body>
</html>
