<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
  <h1>게시글 수정</h1>
  <!--수정 폼-->
  <form th:action="@{/update}" method="post">
    <input type="hidden" name="bid" th:value="${board.bid}"/>
    <div>
      <label for="title">제목:</label>
      <input type="text" id="title" name="title" th:value="${board.title}" required />
    </div>
    <div>
      <label for="author">작성자:</label>
      <input type="text" id="author" name="author" th:value="${board.author}" required />
    </div>
    <div>
      <label for="content">내용:</label>
      <textarea id="content" name="content" rows="4" cols="50" required th:text="${board.content}"></textarea>
    </div>
    <button type="submit">수정</button>
  </form>
</body>
</html>